<div class="row">
    <div class="col-md-12">
        <h2>Edit Field</h2>
    </div>
</div>
<div class="row">
        <!--left coll !-->
    <div class="col-md-5">
        <div class="form-group">
            <label for="labelInput">Label*:</label>
            <input type="text" class="form-control" id="labelInput" data-ng-model="item.label">
        </div>
        <div class="form-group">
            <label for="typeSelects">Type*:</label>
            <select class="form-control" id="typeSelects" data-ng-model="item.type" data-ng-options="type as type for type in types">
                </select>
        </div>
        <div class="form-group" data-ng-show="item.type === 'RadioButton' || item.type === 'CheckBox' || item.type === 'Combobox'">
            <label for="optionsInput">Options*:</label>
            [ <a href="" data-ng-click="addOption()">Добавить</a> ]
            <div ng-repeat="option in item.fieldValues">
            <input ype="text" class="form-control" ng-model="option.value"/>
            [ <a href="" data-ng-click="deleteOption(option.id)">×</a> ]
            </div>
        </div>
        <button type="button" class="btn btn-default" data-ng-click="save()" href="#/fields">Save</button>
        <button type="button" class="btn btn-default" href="#/fields">Cancel</button>

    </div>
        <!--right col !-->
    <div class="col-md-5 col-md-offset-1">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="item.required" data-ng-true-value="true" data-ng-false-value="false" value="required">
                    Required
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" data-ng-model="item.isActive" data-ng-true-value="true" data-ng-false-value="false" value="isActive">
                    Is Active
                </label>
            </div>
        </div>

    </div>
</div>